<div class="create-button-container">
    <a href="/project/create" class="create-button">Create Project</a>
</div>
<hr>
<h2 class="welcome-heading">Welcome to Our Issue Tracker App!!😊</h2>

<h2>All Projects:</h2>

<ul class="project-list">
    <% projects.forEach(function(project) { %>
        <li>
            <div class="project-header">
                <strong class="project-title">
                    <%= project.name %>
                </strong>
                <span class="project-author">
                    <%= project.author %>
                </span>
            </div>
            <p class="project-description">
                <%= project.description %>
            </p>
            <a href="/project/<%= project._id %>" class="view-project-button">View Project</a>
        </li>
        <% }); %>
</ul>